
!jest.config.js
*.d.ts
node_modules
.DS_Store

# CDK asset staging directory
.cdk.staging
cdk.out
cdk.context.json
env.json
dist/
.env
deployment_times
module1/frontend/frontend_output.json
module1/nft-pipeline/nft_pipeline_output.json
module1/nft-pipeline/repo/out/
module1/frontend/web3-workshop-frontend/
module2/genai-nft-pipeline/repo/out/
module2/sagemaker/.venv/
.venv/
*.pyc
*.tmp.out
*.tmp.payload
.user_op_hash
.passwd
.jwt
*doe.com
*.idea
.vscode/
module1/nft-pipeline/ContractRepo/
