export RPC_ENDPOINT=""
export ALCHEMY_POLICY_ID=""
export ALCHEMY_API_KEY=""
export NFT_STORAGE_API_TOKEN=""
export PAYMASTER_ENDPOINT=""
export CDK_DEPLOY_ACCOUNT=$(aws sts get-caller-identity | jq -r '.Account')
export CDK_DEPLOY_REGION=""
